#content * {
  text-align: center;
}

#the-header {
  margin: 150px 0;

  @media screen and (max-width: $medium-screen) {
    margin: 110px 0;
  }
  @media screen and (max-width: $small-screen) {
    margin: 75px 0;
  }
}

#the-text {
  font-size: 48px;
  margin-bottom: 133px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (max-width: $medium-screen) {
    font-size: 36px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: $small-screen) {
    font-size: 24px;
    margin-bottom: 67px;
  }

  .line-divider {
    height: 180px;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#the-buttons {
  margin-bottom: 70px;

  @media screen and (max-width: $medium-screen) {
    margin-bottom: 52px;
  }

  a {
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    padding: 10px 22px;
    margin: 13px;
    letter-spacing: 4px;
    white-space: nowrap;
    transition: background-color .1s, color .1s;
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: $medium-screen) {
      border: 2px solid white;
      padding: 7px 16px;
      margin: 10px;
      letter-spacing: 3px;
      font-size: 14px;
    }
  }

  a:nth-child(2) {
    padding-left: 55px;
    padding-right: 55px;

    @media screen and (max-width: $medium-screen) {
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  a:hover {
    background-color: white;
    color: $gradient-color-6;
  }
}

#the-footer {
  p {
    font-size: 19px;
    margin-bottom: 28px;

    @media screen and (max-width: $medium-screen) {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }

  #the-social-networks {
    margin: 0 auto;
    margin-bottom: 90px;
    width: 166px;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg path {
      transition: fill .1s;
    }

    a:hover svg path {
      fill: $link-hover-color;
    }
  }
}
